body{
  background-image:url(bg1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;
  cursor:not-allowed;
}

h1
{
  padding-top: 30px;;
    color: red; 
    font-size: 40px;
    margin-bottom: 0;
    cursor:default;
}
#myCanvas
{
    border-width:10px;
    background-color: white; 
    border-style:none;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.24);
    border-radius: 20px;
    cursor: pointer;
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius:10px;
  cursor: pointer;
}

button:hover{
  background-color: #29a12d;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius:10px;
  cursor: pointer;
}

input
{
  margin-right: 20px;
  font-family: 'Montserrat', sans-serif;
}

p{
  cursor:default;
}

span{
  cursor:default;
}